/* Global Styles */

body {
    background-color: #F2785C;
    font-family: 'Assistant', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/* Mobile Styles */

#container {
    background-color: #F25757;
    margin: 10px;
    border: 4px groove #F2AE2E;
}
header {
    background-image: url("../images/snoot.JPG");
    background-size: cover;
    padding: 50px 0;
}

header h1 {
    color: #F25757;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #F25757;
    color: #F2AE2E;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px 0;
    border-radius: 10px;    
}

nav li a:hover {
    background-color: #F2AE2E;
    color: #F25757;
    text-shadow: 2px 2px 2px #000;
}

nav, section, aside, .col, footer {
    background-color: #d3d3d3;
    padding: 20px;
    margin: 10px;
    border: 4px groove #F2AE2E;
    border-radius: 10px;
}

h2 {
    color: #F25757;
    text-shadow: 2px 2px 2px #000;
    font-size: 2em;
    text-align: center;
}

h3 {
    color: #F25757;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
    text-align: center;
}

section img, aside img {
    width: 65%;
}

.button {
    display: block;
    background-color: #F25757;
    color: #F2AE2E;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px auto;
    border-radius: 10px;    
}

.button:hover {
    background-color: #F2AE2E;
    color: #F25757;
    text-shadow: 2px 2px 2px #000;
}

footer {
    text-align: center;
    color: #F25757;
}

.single_col {
    width: 83%;
}

audio, video {
    display: block;
    margin: 20px auto;
    width: 75%;
}

iframe {
    display: block;
    margin: 20px auto;
}

.gallery_img {
    border: 4px solid #F2AE2E;
    border-radius: 10px;
    margin: 10px auto;
}

table {
    display: none;
}

/* Tablet Styles */

@media (min-width: 768px) {

    header {
        padding: 100px;
    }

    header h1 {
        font-size: 5em;
    }

    nav {
        text-align: center;
        padding: 5px
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        height: 50px;
        line-height: 50px;
        width: 200px;
    }

    #upper_flex {
        display: flex;
    }

    section, aside {
        width: 50%;
        max-width: 100%;
    }

    aside img {
        width: 60%
    }

    .col img {
        width: 60%;
        border-radius: 10px;
        border: 4px solid #F2AE2E;
    }

    .single_col {
        width: 95%;
    }
}


/* Desktop Styles */

@media(min-width: 1024px) {
    #container {
        width: 75%;
        margin: 20px auto;
        border: 6px groove #F2AE2E;
        border-radius: 30px;
    }

    header {
        border-radius: 20px 20px 0 0;
        padding: 180px;
    }

    nav li a {
        margin: 0 20px
    }

    #lower_flex {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col img {
        width: 90%;
    }

    .single_col {
        width: 100%;
    }

    table, tr, td {
        border: 4px solid #F25757;
        padding: 10px;
        margin: 10px;
        background-color: #F2785C;
        border-radius: 20px;
    }

    table img {
        width: 100%;
    }

    .gallery {
        display: none;
    }

    table {
        display: block;
    }
}